.Subtitle {
    font-weight: 500;
    font-size: 3.5vh;
    
}
  
.Content {
    font-size: 1.5vh;
}
  
.model{
    cursor: pointer;
}

.Grid {
    display: grid;
    place-items: center;
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-right: 10px;
    gap: 0.5vw;
    grid-template-columns: repeat(4, 1fr);
}

