.container {
  background-color: #b4e5a2;
  min-width: 100vw;
  padding-left: 0%;
}

.Nav {
  background-image: url("hd.png");
  border-radius: 0px;
  background-size: contain;
  width: 100vw;
  height: 9vh;
  overflow: visible;
  display: flex;
  justify-content: center; /* YOU ARE HERE */
}

.icon{
  height: 100%;
}

.true {
  color: aliceblue;
}

.Navs {
  right: 50vw;
  font-size: 3vh;
  height: 9vh;
}