.container {
  background-color: rgb(98, 151, 231);
  min-width: 100vw;
  padding-left: 0%;
}

.Nav {
  background-color: rgb(120, 120, 120);
  border-radius: 20px;
  width: 100vw;
  height: 9vh;
  overflow: visible;
  display: flex;
  justify-content: center; /* YOU ARE HERE */
}

.icon{
  height: 100%;
}

.true {
  color: aliceblue;
}

.Navs {
  right: 50vw;
  font-size: 3vh;
  height: 9vh;
}